# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*



{
196      "id": "picture_vc",
197      "name": "Picture VC",
198      "purpose": "Check if data contains necessary fields",
199      "group": [
200        "A"
201      ],
202      "constraints": {
203        "fields": [
204          {
205            "path": [
206              "$.type"
207            ],
208            "purpose": "Check if VC type is correct",
209            "filter": {
210              "type": "array",
211              "contains": {
212                "type": "string",
213                "pattern": "HITPicture"
214              }
215            }
216          },
217          {
218            "path": [
219              "$.credentialSubject.picture"
220            ]
221          }
222        ]
223      }
224    },






{
196      "id": "birthdate_vc",
197      "name": "Birthdate VC",
198      "purpose": "Check if data contains necessary fields",
199      "group": [
200        "A"
201      ],
202      "constraints": {
203        "fields": [
204          {
205            "path": [
206              "$.type"
207            ],
208            "purpose": "Check if VC type is correct",
209            "filter": {
210              "type": "array",
211              "contains": {
212                "type": "string",
213                "pattern": "HITBirthdate"
214              }
215            }
216          },
217          {
218            "path": [
219              "$.credentialSubject.birthdate"
220            ]
221          }
222        ]
223      }
224    },


{
33    "sourceField": "$.credentialSubject.birthdate",
34    "idTokenClaim": "birthdate",
35    "inputDescriptorId": "birthdate_vc"
36  },
{
33    "sourceField": "$.credentialSubject.picture",
34    "idTokenClaim": "picture",
35    "inputDescriptorId": "picture_vc"
36  },